@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unna:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 2vh;
  text-decoration: dotted;
  text-align: center;
  color: lightgray;
  font-size: 2em;
  font-family: "Bebas Neue", cursive;
}

body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 0;
  background-color: black;
  color: lightgray;
}

/* Logo principal */
header {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.elCursor {
  /* que el cursor se haga puntero al pasar por arriba */
  cursor: pointer;
  /* el tiempo que tarda en cambiar */
  transition: all 1s;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}
.contenedor .presentacion {
  padding-inline: 20%;
  background-color: black;
  color: lightgray;
  text-align: center;
  font-size: 1.5em;
}

.navegador {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: black;
  color: lightgray;
}

ul [class="dropdown-menu show"] {
  background-color: rgb(88, 84, 84);
}
ul [class="dropdown-menu show"] li [class=dropdown-item] {
  color: black;
}

footer {
  height: 8vh;
  margin-bottom: 0;
  background-color: rgb(170, 160, 160);
}
footer ul#redes {
  display: flex;
  list-style: none;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

#contact {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

label {
  display: inline-block;
  width: 70px;
  padding-right: 15%;
}

.myButton {
  color: white;
  background-color: rgb(108, 105, 105);
}
.myButton:hover {
  color: black;
  background-color: white;
}

#form {
  width: 50%;
  text-align: center;
}

#galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 300px);
  grid-template-areas: "fotA" "fotB" "fotC" "fotD" "fotE" "fotF" "fotG" "fotH" "fotI" "fotJ" "fotK" "fotL" "fotM" "fotN";
}
#galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  #galeria img {
    filter: grayscale(1);
  }
  #galeria img:hover {
    filter: none;
    transition: all 2s;
  }
}
#galeria .fot-a {
  grid-area: fotA;
}
#galeria .fot-b {
  grid-area: fotB;
}
#galeria .fot-c {
  grid-area: fotC;
}
#galeria .fot-d {
  grid-area: fotD;
}
#galeria .fot-e {
  grid-area: fotE;
}
#galeria .fot-f {
  grid-area: fotF;
}
#galeria .fot-g {
  grid-area: fotG;
}
#galeria .fot-h {
  grid-area: fotH;
}
#galeria .fot-i {
  grid-area: fotI;
}
#galeria .fot-j {
  grid-area: fotJ;
}
#galeria .fot-k {
  grid-area: fotK;
}
#galeria .fot-l {
  grid-area: fotL;
}
#galeria .fot-m {
  grid-area: fotM;
}
#galeria .fot-n {
  grid-area: fotN;
}
@media (min-width: 768px) {
  #galeria {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(9, 400px);
    grid-template-areas: "fotA fotB" "fotA fotC" "fotA fotD" "fotE fotF" "fotG fotH" "fotG fotI" "fotJ fotK" "fotJ fotL" "fotM fotN";
  }
}
@media (min-width: 1200px) {
  #galeria {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6, 30vh);
    grid-template-areas: "fotA fotB fotC" "fotA fotD fotC" "fotA fotE fotF" "fotG fotH fotI" "fotG fotJ fotK" "fotL fotM fotN";
  }
}

/* imagenes carousel */
.imgCarouselSize {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* Fotos */
.container-fluid {
  background-color: black;
}
.container-fluid .row .card {
  border: solid black 2px;
  background-color: rgb(46, 43, 43);
  color: lightgray;
  text-align: center;
}

/* DENTRO DE MODAL */
.imgDentroModal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facebook-icon {
  background-image: url(../images/redes/redessvg/facebook.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 10px;
}

.twitter-icon {
  background-image: url(../images/redes/redessvg/twitter.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 10px;
}

.youtube-icon {
  background-image: url(../images/redes/redessvg/youtube.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 10px;
}

.instagram-icon {
  background-image: url(../images/redes/redessvg/instagram.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 10px;
}

.whatsapp-icon {
  background-image: url(../images/redes/redessvg/whatsapp.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 10px;
}

.drone-tool {
  background-image: url(../images/tools/drone.svg);
  width: 180px;
  height: 180px;
  background-size: 100%;
  margin-right: 10px;
}

.camera-tool {
  background-image: url(../images/tools/camera.svg);
  width: 180px;
  height: 180px;
  background-size: 100%;
  margin-right: 10px;
}

.gopro-tool {
  background-image: url(../images/tools/gopro.svg);
  width: 180px;
  height: 180px;
  background-size: 100%;
  margin-right: 10px;
}

.desktop-tool {
  background-image: url(../images/tools/desktop.svg);
  width: 180px;
  height: 180px;
  background-size: 100%;
  margin-right: 10px;
}

.acordeonI {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}
.acordeonI:hover {
  background-color: rgb(95, 92, 92);
}

.acordeonC, .acordeonC-bordeblack {
  display: flex;
  flex-direction: column;
  background-color: rgb(95, 92, 92);
}
.acordeonC:hover, .acordeonC-bordeblack:hover {
  background-color: lightgray;
}

.acordeonC-bordeblack {
  border: 1px solid black;
}

.accordion-body-black {
  background-color: black;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.acordeonD {
  display: flex;
  flex-direction: row-reverse;
  background-color: lightgray;
}
.acordeonD:hover {
  background-color: rgb(95, 92, 92);
}

#nosotros {
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: black;
  width: 70%;
}

/*  uso animaciones en el Index */
@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}

/*  Animacion que use en la Preentrega2 pero no usare en la 3 */
.animacion1 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  animation-name: square-in-center;
  animation-duration: 2s;
  animation-delay: 3s;
  background-color: black;
  color: lightgray;
  text-align: center;
  padding-inline: 20%;
}

/*# sourceMappingURL=estilo.css.map */
