.acordeonI{
        @include acord(row,$bgColorSecond,$bgColorAux);
}

.acordeonC{
        @include acord(column,$bgColorAux,$bgColorSecond);
        
        }

.acordeonC-bordeblack{
                @extend .acordeonC;
                border: 1px solid black;
}

.accordion-body-black{
                background-color: black;
                color: white;
                padding-left: 20%;
                padding-right: 20%;
                text-align: center;
}

.acordeonD{
        @include acord(row-reverse,$bgColorSecond,$bgColorAux);
}

#nosotros {
    margin-top: $marT;
    margin-bottom: $marB;
    background-color: $bgColorMain;
    width: 70%;
}