// import de fuente

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unna:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

// reset
*{
    font-family: $fontMain;;
    margin: 0;
    padding: 0;
}

h1{
    padding-bottom: $padBot;
    text-decoration:dotted;
    text-align: center;
    color: $fontColorMain;
    font-size: $fontLg;
    font-family: $fontSecond;
}

// creo la clase fijar nav para que cuando mueva el scroll se mantenga, y le cambio el indez sino me quedaba debajo de la foto
body {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 0;
    background-color: $bgColorMain;
    color: $fontColorMain;
}

/* Logo principal */
header{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: $bgColorMain;  
}

.elCursor {
    /* que el cursor se haga puntero al pasar por arriba */
    cursor: pointer;
    /* el tiempo que tarda en cambiar */
    transition: all 1s;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $padTop;
      .presentacion {
        padding-inline: $padInl;
        background-color: $bgColorMain;
        color: $fontColorMain;
        text-align: center;
        font-size: $fontMd;
      }
}