#contact{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: $padBot;
    padding-top: $padTop;
}

label{
    display: inline-block;
    width: 80px;
    padding-right: $padR;
}

.myButton{
    color: $fontColorBtn;
    background-color:$bgColorBtn;
    &:hover {
        color: $fontColorBtnHover;
        background-color:$bgColorBtnHover;
    }
}

#form {
    width: 50%;
    text-align: center;
}
