#contact{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 5%;
}

label{
    display: inline-block;
    width: 80px;
    padding-right: 1em;
}

.myButton{
    color: $fontColorSecond;
    background-color:$bgColorSecond;
}

/*  boton e input */
.myButton:hover {
    color: $fontColorMain;
    background-color:$bgColorMain;
}

