footer{
    height: 8vh;
    margin-bottom: 0;
    background-color: $bgColorFooter;
    ul#redes {
        display: flex;
        list-style: none;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
}