//galeria
#galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(14,300px);
    grid-template-areas: 
    "fotA" 
    "fotB" 
    "fotC" 
    "fotD" 
    "fotE" 
    "fotF"
    "fotG"
    "fotH"
    "fotI"
    "fotJ"
    "fotK"
    "fotL"
    "fotM"
    "fotN";
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (min-width:1200px){
            filter: grayscale(1);
            &:hover{
                filter: none;
                transition: all 2s;
            }
        }
    }

    .fot-a{
        grid-area: fotA;
    }
    .fot-b{
        grid-area: fotB;
    }
    .fot-c{
        grid-area: fotC;
    }
    .fot-d{
        grid-area: fotD;
    }
    .fot-e{
        grid-area: fotE;
    }
    .fot-f{
        grid-area: fotF;
    }
    .fot-g{
        grid-area: fotG;
    }
    .fot-h{
        grid-area: fotH;
    }
    .fot-i{
        grid-area: fotI;
    }
    .fot-j{
        grid-area: fotJ;
    }
    .fot-k{
        grid-area: fotK;
    }
    .fot-l{
        grid-area: fotL;
    }
    .fot-m{
        grid-area: fotM;
    }
    .fot-n{
        grid-area: fotN;
    }

    @media (min-width:768px){
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(9,400px);
        grid-template-areas: 
        "fotA fotB" 
        "fotA fotC"
        "fotA fotD" 
        "fotE fotF"
        "fotG fotH" 
        "fotG fotI"
        "fotJ fotK" 
        "fotJ fotL"
        "fotM fotN";
    }
    @media (min-width:1200px){
        grid-template-columns:1fr 2fr 1fr;
        grid-template-rows: repeat(6,30vh);
        grid-template-areas: 
        "fotA fotB fotC" 
        "fotA fotD fotC" 
        "fotA fotE fotF"
        "fotG fotH fotI" 
        "fotG fotJ fotK"
        "fotL fotM fotN";
    }
}

/* imagenes carousel */
.imgCarouselSize {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Fotos */
.container-fluid{
    background-color: $bgColorMain;
    .row .card{
    border:solid black 2px;
    background-color: rgb(46, 43, 43);
    color: $fontColorMain;
    text-align: center;
    }
}

ul [class="dropdown-menu show"]{
    background-color: rgb(44, 41, 41);
    li [class="dropdown-item"]{
    color: rgb(198, 196, 196);
    }
}

/* DENTRO DE MODAL */
.imgDentroModal{
            width: 100%;
            height: 100%;
            object-fit:cover;
}