@each $icono in facebook, twitter, youtube, instagram, whatsapp{
	.#{$icono}-icon{
		background-image:url(../images/redes/redessvg/#{$icono}.svg);
		width: 30px;
		height: 30px;
		background-size:100%;
		margin-right: 10px;
	}
}

@mixin textos($size,$line-height,$color,$align){
    font-size: $size;
    line-height: $line-height;
    color: $color;
    font-family: $mainFont;
    padding: 10px;
    @if $align == right {text-align: right}
    @if $align == left {text-align: left}
    @if $align == center{text-align: center}
}

@each $tools in drone, camera, gopro, desktop{
	.#{$tools}-tool{
		background-image:url(../images/tools/#{$tools}.svg);
		width: 180px;
		height: 180px;
		background-size:100%;
		margin-right: 10px;
	}
}

@mixin acord($dir,$bgColorAc,$bgColorAcHover){
    display: flex;
    flex-direction: $dir;
    background-color: $bgColorAc;  
    &:hover{
        background-color: $bgColorAcHover;
    }  
}