.navegador {
    display: flex;
    position:sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: $bgColorMain;
    color: $fontColorMain;
}

ul [class="dropdown-menu show"]{
    background-color:rgb(88, 84, 84);
    li [class="dropdown-item"]{
    color: black;
    }
}