//colores fuente
$fontColorMain:black;
$fontColorSecond: lightgray;
$fontColorAux: gray;

// colores bg
$bgColorMain:lightgray;
$bgColorSecond: rgb(40, 39, 39);
$bgColorAux: black;

// fuente
$fontMain: 'Open Sans', sans-serif;
$fontSecond: 'Open Sans', sans-serif;

//size fuente
$fontXXL: 4em;
$fontLg: 3em;
$fontMd: 2em;
$fontSm: 1em;
