//colores fuente
$fontColorMain:lightgray;
$fontColorSecond: black;
$fontColorAux: white;
$fontColorBtn: white;
$fontColorBtnHover: black;

// colores bg
$bgColorMain:black;
$bgColorSecond: lightgray;
$bgColorAux: rgb(95, 92, 92);
$bgColorBtn: rgb(108, 105, 105);
$bgColorBtnHover: white;

// fuente
$fontMain: 'Open Sans', sans-serif;
$fontSecond: 'Open Sans', sans-serif;

//size fuente
$fontXXL: 4em;
$fontLg: 3em;
$fontMd: 2em;
$fontSm: 1em;
