//colores fuente
$fontColor:black;
$fontColorDark: lightgray;
$auxiliarColor: gray;

// colores bg
$bgColor:lightgray;
$bgColorDark: rgb(40, 39, 39);
$bgAuxColor: black;

// fuente
$mainFont: 'Open Sans', sans-serif;
$secondFont: 'Open Sans', sans-serif;

//size fuente
$fontXXL: 4em;
$fontLg: 3em;
$fontMd: 2em;
$fontSm: 1em;
